button[color="hsl(272deg 100% 100% / 100%)"] {
    background:#959595!important;
}

button[color="hsl(272deg 100% 100% / 100%)"] > a > span {
    color: #cbcbcb!important;
}

button[color="hsl(272deg 95% 42% / 100%)"] {
    background: #DE961A!important;
}

button[color="hsl(272deg 95% 42% / 100%)"] > a > span {
    color: white!important;
}